<!DOCTYPE html>
<html ng-app="MyAngularApp">
    <header>
        <title>Angular JS learning</title>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
    </header>
    <body>
        <div ng-controller="MyFirstController as controller">
            Some div content updated again!!!<br>
            <input type="text" ng-model="controller.name" ng-keyup="controller.displayNumeric();">
            <div>My name is: {{controller.name}} </div>
            <div>
                The total ASCII numeric value is: {{controller.totalValue}}
            </div>
            <div>{{controller.sayHello()}}</div>
            <div>
                <input type="text" ng-model="controller.textInput" ng-blur="controller.upperCase();">
            </div>
        </div>


    </body>
</html>